@page "/categories"
@using Shared.Dtos

<PageTitle>@_title</PageTitle>

<h1>@_title</h1>

@if (_dtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dto in _dtos)
            {
                <tr>
                    <td>@dto.Id</td>
                    <td>@dto.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private string _title = "Categories";

    private IEnumerable<CategoryDto>? _dtos;

    protected override async Task OnInitializedAsync()
    {
        _dtos = await _categoryRepository.Get();
    }
}
