@using Microsoft.JSInterop
@inject IJSRuntime _jSRuntime
<div id="@elementId" style="height: 100%; width: 100%;"></div>
@* <div id="@elementId" style="height: 1000px; width: 300px;"></div> *@

@code {

    string elementId = $"map-{Guid.NewGuid().ToString("D")}";

    [Parameter]
    public double Zoom { get; set; }

    [Parameter]
    public List<Marker> Markers { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jSRuntime.InvokeVoidAsync(
            "deliveryMap.showOrUpdate",
            elementId,
            Markers);
    }
}