@page "/LocalStorage"
@page "/SessionStorage"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage BrowserStorage
@* @inject ProtectedSessionStorage BrowserStorage *@

@* https://www.thomasclaudiushuber.com/2021/04/19/store-data-of-your-blazor-app-in-the-local-storage-and-in-the-session-storage/ *@

<h1>Local Storage!</h1>

<input class="form-control" @bind="currentInputValue" />
<button class="btn btn-secondary" @onclick="Save">Save</button>
<button class="btn btn-secondary" @onclick="Read">Read</button>
<button class="btn btn-secondary" @onclick="Delete">Delete</button>

@code {
    string currentInputValue = default!;

    public async Task Save()
    {
        await BrowserStorage.SetAsync("name", currentInputValue);
    }

    public async Task Read()
    {
        var result = await BrowserStorage.GetAsync<string>("name");
        currentInputValue = result.Success ? result.Value! : "";
    }

    public async Task Delete()
    {
        await BrowserStorage.DeleteAsync("name");
    }
}